<!DOCTYPE html>
<html>
<head>
    <title>SSE Example</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div><h1>(Not-So) Mini-Project #2 - Webapp Request Handler Simulation</h1>
    </div>
    <div>
        <h2>by Thomas, Ahmed, Celine</h2>
    
    </div>
    
    <div>
        <button id="clear-button">Clear Data</button>
        <div id="queue-state">Queue: 0</div>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Input</th>
                    <th>Result</th>
                    <th>Timestamp</th>
                </tr>
            </thead>
            <tbody id="log-data">
                <!-- Data will be dynamically added here -->
            </tbody>
        </table></div>

    <script>
        const eventSource = new EventSource('/updates');
        const logData = document.getElementById('log-data');
        const clearButton = document.getElementById('clear-button');
        const queueState = document.getElementById('queue-state');
        let currentQueue = 0;

        clearButton.addEventListener('click', () => {
            fetch('/clear-log', { method: 'POST' })
                .then(response => {
                    if (response.ok) {
                        console.log('Request log cleared');
                        logData.innerHTML = ''; // Clear the table on button click
                        currentQueue = 0; // Reset the queue count
                        queueState.textContent = `Queue: ${currentQueue}`; // Update the queue state
                    } else {
                        console.error('Failed to clear request log');
                    }
                })
                .catch(error => {
                    console.error('Error while clearing request log:', error);
                });
        });

        // Set the initial queue count to 0 when the page is loaded
        currentQueue = 0;
        queueState.textContent = `Queue: ${currentQueue}`;

        eventSource.onmessage = function(event) {
            const data = JSON.parse(event.data);
            const newRow = document.createElement('tr');
            newRow.innerHTML = `
                <td>${data.id}</td>
                <td>${data.input}</td>
                <td>${data.result}</td>
                <td>${data.timestamp}</td>
            `;
            logData.appendChild(newRow);

            // Update the queue state
            currentQueue++;
            queueState.textContent = `Queue: ${currentQueue}`;
        };
    </script>
</body>
</html>
